@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Calculator";
  src: url("../../assets/Calculator.ttf");
}


body {
  margin: 0;
  font-family: "Calculator";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
}


#root {
  height: 100%
}

input[type="number"]::-webkit-search-decoration,
input[type="number"]::-webkit-search-cancel-button,
input[type="number"]::-webkit-search-results-button,
input[type="number"]::-webkit-search-results-decoration {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Full-page grid container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  /* Single column layout */
  height: 100%;
  /* Full height of viewport */
  position: relative;
  /* So child elements can be positioned */
}

/* Screen container with specific position */
.screen {
  position: absolute;
  /* Adjust this to control the placement of Screen */
  right: 3.6vw;
  bottom: 0.2vw;
  /* transform: translateX(-50%); */
  /* Centers the Screen horizontally */
  z-index: 1;
  height: 17vw;
  width: 11vw;
  border-radius: 1vw 1vw 0 0;

  padding: 1vw 0 1vw 0;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* Align child to the bottom */
  align-items: center;
  /* Optional: Center child horizontally */

  /* background-color: #7e22ce; */
  /* Ensures the screen appears above the radio */
}

/* Image in the bottom-right corner */
.radio {
  position: absolute;
  bottom: -40vw;
  right: 1vw;
  transition: bottom 0.1s ease;
}

.radio.animate {
  bottom: 0vw;
}

.radio img {
  width: 18vw;
  /* Adjust image size */
  height: 40vw;
}

.volumeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.7vw;
  height: 0.7vw;
  background-color: rgb(216 180 254 / var(--tw-border-opacity, 1));
  cursor: pointer;
  border-radius: 50%;
}

.toggle-radio {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 0.5vw;
  top: 13.5vw;
  right: 2.35vw;
  width: 4vw;
  height: 3vw;
}

.toggle-radio:hover {
  background-color: rgba(255, 255, 255, 0.3);
}